[Unit]
Description=Setup the protogen network that this Pi will host.

[Service]
ExecStart=/home/mrf777/protogen_software/main
WorkingDirectory=/home/mrf777/protogen_software

[Install]
WantedBy=multi-user.target
