body {
	margin: 0px 1em;
	margin-bottom: 2em;
}
button {
	padding: 0.25em;
	border-style: solid;
	border-width: 0.125em;
	border-color: grey;
	border-radius: 0.25em;
}

button img {
	width: 100%;
	max-width: 300px;
}

hr {
	margin: 1.25em 0px;
}

body h3:first-of-type {
	text-align: center;
}

input[type=color] {
	min-width: 6em;
	min-height: 6em;
}

input[type=range] {
	width: 100%;
}

nav {
	background-color: #d1dbe0;
	margin: 0px;
	padding: 1em 1em;
}

nav ol {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-left: 0px;
	margin: 0px;
}

nav ol li {
	list-style-type: none;
	font-size: 1.2em;
	font-weight: bold;
}

nav a {
	text-decoration: none;
}

#emotion-options-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1em;
}

#emotion-options-container button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.current-emotion {
	background-color: rgb(200, 255, 200);
}

.players-container li {
	list-style: none;
	padding: 1em;
	border-radius: 0.25em;
	display: flex;
	gap: 1em;
	align-items: center;
}

.players-container li:nth-child(odd) {
	background: #d1dbe0;
}

.players-container li a {
	background-color: buttonface;
	border-radius: 3px;
	text-decoration: none;
	border: 1px outset buttonborder;
	padding: 1px 6px;
}

#minecraft-controls {
	display: grid;
	grid-template-columns: 100px 100px 100px auto 100px;
	grid-template-rows: 1fr 1fr 1fr;
	height: 300px;
}

#minecraft-block-selection {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding: 0em;
	margin: 0em 1em;
}

#minecraft-block-selection li {
	display: flex;
	align-items: center;
	gap: 0.75em;
}

.minecraft-color-block {
	width: 2em;
	height: 2em;
	border-radius: 0.25em;
}

#minecraft-left {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

#minecraft-right {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

#minecraft-up {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

#minecraft-down {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

#minecraft-block-selection {
	grid-column: 4 / 5;
	grid-row: 1 / 4;
}

#place-block {
	grid-column: 5 / 6;
	grid-row: 1 / 4;
}
